body {
    background-color: #f0f8ff;
}

.body {
    margin-top: 40px;  
}

.selectionX {
    word-spacing: 9px;
    text-align: left;
}

.selectionR {
    word-spacing: 13px;
    margin-left: 7px;
}

header {
    font-family: fantasy;
    color: #37436a;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}

form {
    line-height: 1.5;
}

.main_table {
    border: 1px solid black;
    border-color: black;
    font-weight: 100;
    background-color: rgb(217, 224, 250);
    margin: auto;
    margin-top: 20px;
    width: 80%;
    text-align: center;
}

.resultTable {
    font-weight: 100;
    margin: auto;
    text-align: center;
}

td, th {
    border: 1px solid black;
    border-color: black;
    font-weight: 100;
    background-color: rgb(217, 224, 250);
    margin: auto;
    text-align: center;
}

tr {
    font-weight: 100;
    font-variant: small-caps;
    color: #37436a;
    font-size: 18px;
}
.output tr th{
    border: 0px;
}